

#bsomeid {
	color: #000000;
}

body.frrrrp {
	font-size: 25px;
	font-family: verdana; 
}


.itsabitdm {
	background: url('herpa derp');
}


.person {
	font-size: /*body.frrrrp>font-size*/;
	font-family: verdana;
	color: #000000;
}